<a href="https://colab.research.google.com/github/bidhan7/Data-Processing-Visualization-/blob/main/Exam%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exam 2
# Bidhan Subedi
# Data Visualization (CPSMA 4313)

Importing pandas and numpy library.

In [142]:
import requests
import pandas as pd
import numpy as np

#### References


https://github.com/nurfnick/Data_Viz

https://github.com/bidhan7/Data-Processing-Visualization-

https://medium.com/@chaimgluck1/working-with-pandas-fixing-messy-column-names-42a54a6659cd

“I attest that the resources above were the only ones utilized in completing the exam and the work included is my own and no one else from the course.”

# (A)
Storing the data as a pandas in df and examining each datatype

In [143]:
df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/Activity_Dataset_V1.csv')
df

,Unnamed: 0,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,...,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,...,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,...,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,...,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,...,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,...,NaN,NaN,138.0,166.0,110,7,0,5,21,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,2022-02-14,Pool Swimming,6.92,101,313,NaN,28.66,173.30,234.73,...,NaN,NaN,133.5,175.0,92,22,20,15,21,61
996,996,2022-02-14,Freestyle,9.48,61,219,NaN,9.23,114.34,109.32,...,NaN,NaN,103.0,122.0,84,18,28,2,17,86
997,997,2022-02-14,Freestyle,3.30,40,169,NaN,7.37,133.97,122.96,...,NaN,NaN,114.5,122.0,107,18,28,2,23,98
998,998,2022-02-14,Indoor Cycling,4.40,47,52,NaN,10.75,147.65,116.51,...,NaN,NaN,96.0,90.0,102,45,32,0,13,57
999,999,2022-02-14,Indoor Cycling,1.57,116,106,NaN,25.37,143.41,182.80,...,NaN,NaN,96.5,90.0,103,14,32,0,24,83

In [144]:
df.dtypes

Unnamed: 0          int64
activity_day       object
workout_type       object
distance          float64
time                int64
calories            int64
total_steps       float64
avg_speed         float64
avg_cadence       float64
max_cadence       float64
avg_pace           object
max_pace           object
min_pace           object
avg_heart_rate    float64
max_heart_rate    float64
min_heart_rate      int64
vo2_max(%)          int64
aerobic(%)          int64
anaerobic(%)        int64
intensive(%)        int64
light(%)            int64
dtype: object

# (B)
Removing the column that repeats the indexes and is ‘unnamed’ as a column. Using del method to delet that column.

In [145]:
del df['Unnamed: 0']
df.head()

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88

#(C) 
Pandas has an advantageous .str technique that you can use on text data. Since the column names are an 'index' type, you can utilize .str on them as well.

In [146]:
df.columns = df.columns.str.strip().str.replace('%', '').str.replace('(', '').str.replace(')', '')
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max,aerobic,anaerobic,intensive,light
0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88

# (D)
Converting ‘activity day’ column into a datetime format.

In [147]:
df['activity_day'] = pd.to_datetime(df['activity_day'])
df.activity_day.dtypes

dtype('<M8[ns]')

# (E) 
Imputing ‘total steps’ by replacing the ‘NaN’s with an minimum number of steps. Using fillna method to replace. Converting float to int.

In [148]:
df.total_steps.fillna(value=df.total_steps.min(), inplace=True)
df['total_steps'] = df['total_steps'].astype(int)
df

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max,aerobic,anaerobic,intensive,light
0,2022-01-01,Freestyle,9.30,77,123,1571,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,1571,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,1571,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,1571,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2022-02-14,Pool Swimming,6.92,101,313,1571,28.66,173.30,234.73,NaN,NaN,NaN,133.5,175.0,92,22,20,15,21,61
996,2022-02-14,Freestyle,9.48,61,219,1571,9.23,114.34,109.32,NaN,NaN,NaN,103.0,122.0,84,18,28,2,17,86
997,2022-02-14,Freestyle,3.30,40,169,1571,7.37,133.97,122.96,NaN,NaN,NaN,114.5,122.0,107,18,28,2,23,98
998,2022-02-14,Indoor Cycling,4.40,47,52,1571,10.75,147.65,116.51,NaN,NaN,NaN,96.0,90.0,102,45,32,0,13,57
999,2022-02-14,Indoor Cycling,1.57,116,106,1571,25.37,143.41,182.80,NaN,NaN,NaN,96.5,90.0,103,14,32,0,24,83

In [149]:
df.dtypes

activity_day      datetime64[ns]
workout_type              object
distance                 float64
time                       int64
calories                   int64
total_steps                int64
avg_speed                float64
avg_cadence              float64
max_cadence              float64
avg_pace                  object
max_pace                  object
min_pace                  object
avg_heart_rate           float64
max_heart_rate           float64
min_heart_rate             int64
vo2_max                    int64
aerobic                    int64
anaerobic                  int64
intensive                  int64
light                      int64
dtype: object

# (F)

First I convert avg_pace into datetime and then present it in float datatype.

In [150]:
df['avg_pace'] = pd.to_datetime(df['avg_pace'])
df['avg_pace'] = df['avg_pace'].dt.hour + (df['avg_pace'].dt.minute)/60
df['avg_pace'].head(10)

0         NaN
1         NaN
2         NaN
3    7.966667
4         NaN
5         NaN
6         NaN
7    6.733333
8    6.800000
9         NaN
Name: avg_pace, dtype: float64

# (G)
 I will groupby ‘workout type’ and find the mean, median, count and standard deviation of ‘calories’.

In [151]:
df.groupby('workout_type').calories.agg(['mean','median','count', 'std'])

                       mean  median  count         std
workout_type
Cricket          307.548387   330.0     93  149.950609
Freestyle        278.552083   294.0     96  163.703768
Indoor Cycling   280.450000   306.0     80  156.633322
Open Water       296.747253   328.0     91  160.068499
Outdoor Cycling  299.129412   301.0     85  158.731263
Outdoor Running  301.469136   349.0     81  165.725080
Pool Swimming    283.414894   300.0     94  157.576703
Trail Run        267.966667   264.0     90  155.748533
Treadmill        278.142857   269.5     98  146.963352
Trekking         283.127660   280.5     94  151.034870
Walking          276.040816   270.5     98  157.287570

# (H)
I am making a indicator column that identifies if the activity achieved 30% or more ‘aerobic’ activity.

In [152]:
df['indicator'] = np.where(df['aerobic'] >= (30), 'True', 'False')
df.head(15)

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,...,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max,aerobic,anaerobic,intensive,light,indicator
0,2022-01-01,Freestyle,9.30,77,123,1571,18.88,168.54,138.30,NaN,...,NaN,112.5,122.0,103,19,28,2,7,50,False
1,2022-01-01,Freestyle,3.44,96,55,1571,29.65,125.92,292.81,NaN,...,NaN,111.0,122.0,100,42,28,2,29,88,False
2,2022-01-01,Indoor Cycling,6.34,85,33,1571,17.85,81.93,323.69,NaN,...,NaN,95.0,90.0,100,1,32,0,22,43,True
3,2022-01-01,Walking,7.91,42,82,1571,22.10,29.63,180.16,7.966667,...,07:58,83.0,85.0,81,3,22,0,24,65,False
4,2022-01-01,Open Water,8.99,36,131,1571,25.83,64.55,342.89,NaN,...,NaN,138.0,166.0,110,7,0,5,21,88,False
5,2022-01-01,Outdoor Cycling,5.47,117,144,1571,2.20,43.47,291.67,NaN,...,NaN,142.0,177.0,107,44,45,15,57,39,True
6,2022-01-01,Indoor Cycling,6.28,66,378,1571,10.65,23.83,253.84,NaN,...,NaN,85.0,90.0,80,34,32,0,44,23,True
7,2022-01-01,Outdoor Running,2.94,26,430,7618,10.59,131.93,334.72,6.733333,...,06:15,145.0,190.0,100,23,0,71,18,3,False
8,2022-01-01,Trail Run,2.87,26,465,2790,32.92,21.42,341.17,6.800000,...,06:20,142.0,188.0,96,2,0,80,46,13,False
9,2022-01-01,Pool Swimming,3.91,23,99,1571,33.15,169.30,206.97,NaN,...,NaN,132.5,175.0,90,22,20,15,28,20,False
10,2022-01-01,Trail Run,6.31,107,97,2790,22.99,27.99,139.21,6.800000,...,06:20,138.5,188.0,89,38,0,80,13,16,False
11,2022-01-01,Outdoor Running,2.37,65,524,7618,16.47,164.78,87.60,6.733333,...,06:15,146.0,190.0,102,17,0,71,46,12,False
12,2022-01-01,Indoor Cycling,3.50,43,158,1571,12.54,25.36,184.20,NaN,...,NaN,99.0,90.0,108,21,32,0,24,59,True
13,2022-01-01,Outdoor Cycling,1.86,111,195,1571,19.95,15.99,317.51,NaN,...,NaN,134.5,177.0,92,26,45,15,64,84,True
14,2022-01-01,Freestyle,8.41,70,412,1571,35.93,113.85,262.50,NaN,...,NaN,115.0,122.0,108,36,28,2,28,63,False

# (I)
Pandas DataFrame.loc attribute access a group of rows and columns by label or a boolean array in the given DataFrame.

In [161]:
d = df.loc[df.max_cadence == df.max_cadence.max()]
print('Day of Week = ' + d.activity_day.dt.day_name().iloc[0])
print('Workout type = ' + d.workout_type.iloc[0])
print('Maximum cadence = ' + str(df['max_cadence'].max()))

Day of Week = Wednesday
Workout type = Pool Swimming
Maximum cadence = 349.78

# Questions about the exam

(a) Approximately how long did you work on this exam?
  
  
  It took me about 5/6 hours to work on this exam.

(b) Which was the hardest and easiest topic from this section?

  Number F and I was the hardest topic. It took my most of the time. And the easiest one was A and B.

(c) Which method of cleaning data should I have spent more instructional time on?

 I think pandas is really cool and easy to understand.I would prefer pandas. Heads up for numpy too.