<a href="https://colab.research.google.com/github/bidhan7/Data-Processing-Visualization-/blob/main/QUIZ12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Bidhan Subedi  
## DATA PROCESSING VISUALIZATION

# QUIZ 12

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

I got this code from dr Nicholas Jacob. I have to be authenticated to run the codes below.

In [2]:
%%bigquery --project data-visualization-338723
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`

   total_rows
0       32247

Totak rows are 32247.

In [4]:
%%bigquery --project data-visualization-338723
SELECT *
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
LIMIT 100

    incident_number  ... num_pumps_attending
0   000320-01012017  ...                   2
1   003727-09012017  ...                   2
2   003762-09012017  ...                   2
3   006403-16012017  ...                   2
4   010947-26012017  ...                   1
..              ...  ...                 ...
95  026608-04032017  ...                   1
96  036596-27032017  ...                   1
97  037045-28032017  ...                   1
98  053172-28042017  ...                   1
99  054235-30042017  ...                   2

[100 rows x 32 columns]

flase alarm after 10pm to 5 am

In [5]:

%%bigquery --project data-visualization-338723
SELECT COUNT(*) as false_alarm_during_10pm_to_5am
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
where incident_group = "False Alarm" AND (hour_of_call >=22 OR hour_of_call <=4)

   false_alarm_during_10pm_to_5am
0                            2825

avarage

In [6]:
%%bigquery --project data-visualization-338723
SELECT incident_group, AVG(num_pumps_attending) as Average_pumps
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
GROUP BY incident_group

    incident_group  Average_pumps
0      False Alarm       1.725776
1             Fire       1.633012
2  Special Service       1.177192

max

In [7]:
%%bigquery --project data-visualization-338723
SELECT property_category, MAX(num_pumps_attending) as max_pumps
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
GROUP BY property_category

   property_category  max_pumps
0           Dwelling          7
1    Non Residential          7
2  Other Residential          5
3               Boat          3
4  Outdoor Structure          5
5       Rail Vehicle          4
6            Outdoor          6
7       Road Vehicle          6
8           Aircraft          4