<a href="https://colab.research.google.com/github/bidhan7/Data-Processing-Visualization-/blob/main/QUIZ12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Bidhan Subedi  
## DATA PROCESSING VISUALIZATION

# QUIZ 12

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

I got this code from dr Nicholas Jacob. I have to be authenticated to run the codes below.

In [2]:
%%bigquery --project data-visualization-338723
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`

   total_rows
0       32247

Total *rows* are 32247.

In [11]:

%%bigquery --project data-visualization-338723
SELECT *
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
LIMIT 30

    incident_number  ... num_pumps_attending
0   000320-01012017  ...                   2
1   003727-09012017  ...                   2
2   003762-09012017  ...                   2
3   006403-16012017  ...                   2
4   010947-26012017  ...                   1
5   014169-03022017  ...                   5
6   016263-08022017  ...                   2
7   016865-09022017  ...                   1
8   017092-10022017  ...                   1
9   024609-27022017  ...                   1
10  025352-01032017  ...                   1
11  025355-01032017  ...                   2
12  033935-21032017  ...                   2
13  034332-22032017  ...                   2
14  034347-22032017  ...                   2
15  036063-26032017  ...                   2
16  037971-30032017  ...                   1
17  038036-30032017  ...                   1
18  039917-03042017  ...                   2
19  043780-10042017  ...                   1
20  044716-11042017  ...                   2
21  045573-13042017  ...                   1
22  046207-14042017  ...                   2
23  046427-15042017  ...                   1
24  001962-05012017  ...                   1
25  004931-12012017  ...                   1
26  005840-14012017  ...                   1
27  006160-15012017  ...                   2
28  009505-23012017  ...                   2
29  009794-23012017  ...                   1

[30 rows x 32 columns]

Using where command to find 'False alarm'.

In [5]:

%%bigquery --project data-visualization-338723
SELECT COUNT(*) as false_alarm_during_10pm_to_5am
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
where incident_group = "False Alarm" AND (hour_of_call >=22 OR hour_of_call <=4)

   false_alarm_during_10pm_to_5am
0                            2825

Average number of num_pumps_attending when there is a Fire

In [6]:
%%bigquery --project data-visualization-338723
SELECT incident_group, AVG(num_pumps_attending) as Average_pumps
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
GROUP BY incident_group

    incident_group  Average_pumps
0      False Alarm       1.725776
1             Fire       1.633012
2  Special Service       1.177192

 Largest number of num_pumps_attending to a Road Vehicle property_category

In [7]:
%%bigquery --project data-visualization-338723
SELECT property_category, MAX(num_pumps_attending) as max_pumps
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
GROUP BY property_category

   property_category  max_pumps
0           Dwelling          7
1    Non Residential          7
2  Other Residential          5
3               Boat          3
4  Outdoor Structure          5
5       Rail Vehicle          4
6            Outdoor          6
7       Road Vehicle          6
8           Aircraft          4